// Sugarcane
.sugarcane {
    margin: auto;
    padding: auto;
}

.sugarcane-flex {
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin: 60px 0 0 0;
}

.sugarcane-img img{
    margin: auto;
    height: 200px;
    width: 200px;
}