/* Preventer */
.Preventer{
    margin: auto;
    padding: auto;
}

.preventer-img img{
    height: 300px;
}    

/* E-gate */
.E-gate{
    margin: auto;
    padding: auto;
}

.egate-img img{
    height: 300px;
}
