p{
    text-align: justify;
}

// flex
.preventer {
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    margin: 60px 0 0 0 ;
}

.egate {
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    margin-top: 60px;
}

.preventer-img img{
    height: 300px;
    
}    

.egate-img img{
    height: 300px;
}
