// flex
.preventer-flex {
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
}

.egate-flex {
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Preventer */
.Preventer{
    margin: auto;
    padding: auto;
}

.preventer-img img{
    height: 300px;
}    

/* E-gate */
.E-gate{
    margin: auto;
    padding: auto;
}

.egate-img img{
    height: 300px;
}
