.left-animated {
    --webkit-transform: translateZ(0);
    animation-name: left-Slidein;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    position: relative;
    display: block;
    opacity: 1;
}

.right-animated {
    --webkit-transform: translateZ(0);
    animation-name: right-Slidein;
    animation-duration: 1s;
    // animation-timing-function: ease-in;
    position: relative;
    display: block;
    opacity: 1;
}

@keyframes left-Slidein {
    from{
        opacity: 0;
        left: -100px;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

@keyframes right-Slidein {
    from{
        opacity: 0;
        left: 100px;
    }
    to {
        opacity: 1;
        left: 0;
    }
}
