.profile {
    background-color: white;
}

.profileflex {
    display: flex;
    margin: 0 0 0 20px;
    justify-content: center;
}

.profileflex h2{
    margin: 10px 0 0;
    padding: 0;
    font-weight: bold;
}

.profileflex .text{
    text-align: left;
    margin: 40px 0 0 20px;
    padding: 40px 0 0 20px;
    font-size: 18px;
    font-family: "Hiragino Sans","ヒラギノ角ゴシック"; 
    font-weight: 900;;
}

.myimage img{
    margin: 0 0 0 20px;
    height: 300px;
}


.achivement img{
    width:200px;
    height: 200px;
}