.profile {
    background-color: white;
}

.profileflex {
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    margin: 60px 0 0 0 ;
}

.profileflex h2{
    margin: 10px 0 0;
    padding: 0;
    font-weight: bold;
}

.profileflex .text{
    margin: 0 0 0 20px;
    padding: 40px 0 0 20px;
    font-size: 18px;
    font-family: "Hiragino Sans","ヒラギノ角ゴシック"; 
    font-weight: 900;;
    text-align: justify;
}

.myimage img{
    margin: 0 0 0 20px;
    height: 300px;
}


.achivement img{
    width:200px;
    height: 200px;
}